* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-primary: #6c63ff;
  --color-success: #00bf8e;
  --color-warning: #f7c94b;
  --color-danger: #f75842;
  --color-danger-variant: rgba(247, 88, 66, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.7);
  --color-black: #000;
  --color-bg: #fefefe;
  --color-bg1: #2e3267;
  --color-bg2: #424890;

  --container-width-lg: 80%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  padding: 6rem 0;
}

section h2 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.3rem;
}

a {
  color: var(--color-white);
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.btn {
  display: inline-block;
  background: var(--color-white);
  color: var(--color-black);
  padding: 1rem 2rem;
  border: 1px solid transparent;
  font-weight: 500;
  transition: var(--transition);
}

.btn:hover {
  background: transparent;
  color: var(--color-white);
  border-color: var(--color-white);
}

.btn-primary {
  background: var(--color-danger);
  color: var(--color-white);
}

/* change navbar styles on scroll using javascript */
.window-scroll {
  background: var(--color-primary);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
/* =================== POPULAR COURSES ===================== */
.courses {
  margin-top: 3rem;
}

.courses__image{
  box-shadow: #3a3a3a 1rem 1rem 2rem;
}

.courses__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.course {
  background: #fefefe;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

/* .course:hover {
  background: transparent;
  border-color: var(--color-primary);
} */

.course__info {
  overflow: auto;
  padding: 2rem;
  box-shadow: #3a3a3a 0 1rem 2rem;
}

.course__info h4 {
  overflow: auto;
  color: #000;
  font-weight: bold;
  font-size: 1rem;
}
.course__info span {
  overflow: auto;
  color: red;
  font-weight: bold;
  font-size: 1.3rem;
}

.course__info p {
  text-align: center;
  margin: 1.2rem 0 2rem;
  font-size: 0.9rem;
}


/* ===================== MEDIA QUERIES (TABLETS) ==================== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  h1 {
    font-size: 2.2rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1.2rem;
  }

 
  /* ====================== POPULAR COURSES ===================== */
  .courses {
    margin-top: 0;
  }

  .courses__container {
    grid-template-columns: 1fr 1fr;
  }

}
/* ======================== MEDIA QUERIES (PHONES) ======================= */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  .courses__container {
    grid-template-columns: 1fr;
  }
}